<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Страница не нашлась</title>
<!--[if IE]>
    <script src="../../../../../tests/script/html5.js"></script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="../../../../../tests/template/css/404.css" />
</head>
<body>
<div id="rocket"></div>
<hgroup>
    <h1>Страница не нашлась</h1>
    <h2>Мы не смогли страницу, которую вы запросили</h2>
</hgroup>
<script src="../../../../../tests/script/jquery.js"></script>
<script src="../../../../../tests/script/404.js"></script>
</body>
</html>
