a { text-decoration: none; color: #323232;}
a:visited { color: #323232;}
li { list-style-type: none; }
img { border: 0; }
body {
	background: url('../../../template/images/back_main.gif') repeat-x;
        background-color: #acd6ec;
        font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
        margin: 0px;
}
#error_message {
    background-color: #FFB4A3;
    min-height: 40px;
    position: absolute;
    padding: 5px 20px 0px 20px;
    font-size: 14px;
    margin: 0 auto;
    display: none;
    text-align: center;
    top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #777;
    font-size: 40px;
}
.wrapper {
	width: 1110px;
        margin: 0 auto;
}
.wrapper .wr {
    width: 90px;
    float: left;
}
.wrapper_without_img {
        position: static;
        width: 1000px;
	padding: 0px 5px 0 90px;
        margin-top: 8px;
}
.headi {
    font-size: 23px;
    color: #cd1b1b;
    font-weight: bold;
    min-height: 30px;
    letter-spacing: 1px;
    padding: 0px 0 10px 0;
}
.headi a {
    color: #69C;
}
.header {
	float: left;
	width: 100%;
	height: 40px;
}
h1.head {
        font-size: 20px;
        color: #4E4E4E;
}
.menu {
	float: right;
}
ul.list {
	list-style-type: none;
	height: 30px;
	display: inline;
}
ul.list li {
	float: left;
	position: relative;
	margin: 5px 20px;
}
ul.list li a {
	color: #4E4E4E;
	font-size: 16px;
}
.main {
	margin: 0 auto;
	border-radius: 5px;
}
.MainBar {
    width: 690px;
    float: right;
    padding-bottom: 30px;
    padding: 20px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 10px;
}
.hint {
	font-size: 14px;
	color: #666;
}
.LeftBar {
    background-color: #fff;
    border-radius: 10px;
    width: 250px;
    float: left;
    color: #323232;
    padding: 5px 0 0 5px;
}
.cat {
    font-size: 19px;
    font-weight: 900;
    color: #003399;
    letter-spacing: 1px;
    border-bottom: 1px solid #bababa;
    margin: 2px 2px 10px 2px;
}
.main_img {
	width: 100%;
	height: 270px;
}
.bmenu {
	width: 227px;
	height: 200px;
	border-right: 1px solid #BABABA;
	margin-top: 20px;
	padding: 10px;
	float: left;
	background: url("../images/back_main1.gif") repeat-x #acd6ec;
}
.bmenu.first {
	border-top-left-radius: 10px;
}
.bmenu.end {
	border-right: none;
	border-top-right-radius: 10px;
}
.bmenu div.title {
	font-size: 17px;
        letter-spacing: 2px;
	color: #0A0A0A;
	font-weight: bold;
	margin-bottom: 5px;
}
.bmenu div.desc {
	font-size: 14px;
	color: #323232;
}
.bmenu div.img {
	text-align: center;
}
.footer {
	width: 980px;
	text-align: right;

	padding: 5px;
}
span.foo {
	margin-right: 30px;
	color: #323232;
	font-size: 14px;
}
span.foo a {
    color: #2D76B9;
}
div.footer .right {
    float: right;
}
div.footer .left {
    float: left;
}
div.update {
    border: 1px solid #bce8f1;
    color: #3a87ad;
    background-color: #d9edf7;
}
div.error {
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid #eed3d7;
}

div.ready {
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}
.errormsg {
    margin: 15px;
    font-size: 15px;
    padding: 8px 35px 8px 14px;
    border-radius: 4px;
}
.percent {
    font-size: 100px;
    font-weight: bold;
    float: left;
    width: 170px;
    color: #666;
    margin-left: 100px;
}
.inform {
    float: left;
    width: 400px;
}
.table {
    width: 100%;
    float: left;
}
.table .left {
    width: 485px;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}
.table .right_bar {
    width: 475px;
    float: left;
}
.table_input {
    text-align: left;
    width: 130px;
    float: left;
    color: #666;
    font-weight: bold;
    padding: 2px;
    margin-bottom: 7px;
}
.table_text {
    width: 485px;
    float: left;
    margin-bottom: 7px;
}
.file_upload {
    border-bottom: 3px dashed #ddd;
    border-left: 3px dashed #ddd;
    border-right: 3px dashed #ddd;
    color: #666;
    text-align: center;
    width: 470px;
    height: 300px;
    float: left;
}
.big_input {
    border-radius: 4px;
    padding: 4px;
    font-size: 21px;
    border: 1px solid #aaa;
    font-family: Arial;
}
.answer {
    margin-bottom: 10px;
}
.big_checkbox {
    padding: 5px;

}
.answer1 {
    margin-bottom: 9px;
}